.container {
  max-width: 1390px;
  padding: 0 15px;
  margin: 0 auto;

  @media screen and (max-width: 1300px) {
    max-width: 1170px;
  }

  @media screen and (max-width: 992px) {
    max-width: 750px;
  }

  @media screen and (max-width: 768px) {
    max-width: 570px;
  }

  @media screen and (max-width: 576px) {
    padding: 0;
    max-width: 95%;
  }
}