.form {
  display: flex;
  flex-direction: column;
  gap: 26px;

  input {
    border-radius: 6px;
    outline: none;
    padding: 16px 32px;
    font-size: 20px;
    width: 100%;
  }
}

.inp_wrap {
  position: relative;
}

.inp_error {
  color: #ed0000;
  font-size: 14px;
  position: absolute;
  bottom: -21px;
}

.transparent {
  width: 520px;
  margin-left: auto;

  input {
    background: transparent;
    border: 1px solid #fff;
    color: #fff;

    &::placeholder {
      color: #fff;
      font-weight: 500;
    }
  }
}

.white {
  width: 100%;
  input {
    background-color: #fff;
    color: #282828;
    border: 1px solid #ddd;

    &::placeholder {
      color: #8b8b8b;
    }
  }
}

@media screen and (max-width: 1300px) {
  .transparent {
    width: 100%;
  }

  .white {
    gap: 6px;
    .inp_wrap {
      display: flex;
      flex-direction: column;
      gap: 6px;
      input {
        font-size: 16px;
        padding: 12px 32px;
      }
      .inp_error {
        font-size: 12px;
        position: unset;
      }
    }
    button {
      padding: 11px 0;
    }
  }
}

@media screen and (max-width: 576px) {
  .transparent {
    gap: 8px;

    .inp_wrap {
      display: flex;
      flex-direction: column;
      gap: 8px;

      input {
        font-size: 14px;
        padding: 10px 28px;
      }

      .inp_error {
        position: unset;
      }
    }
  }
}
