.btn {
  border-radius: 6px;
  font-size: 20px;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  cursor: pointer;
  border: none;
}

.green {
  background-color: #339933;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #282828;
  }
}

.white {
  background-color: #fff;
  color: #282828;
  transition: background-color 0.2s ease-in-out,
    color 0.2s ease-in-out;

  &:hover {
    background-color: #282828;
    color: #fff;
  }
}

.small {
  padding-left: 56px;
  padding-right: 56px;
}

.xl {
  width: 100%;
}

@media screen and (max-width: 1300px) {
  .btn {
    font-size: 16px;
  }

  .small {
    padding-left: 42px;
    padding-right: 42px;
  }
}

@media screen and (max-width: 576px) {
  .btn {
    font-size: 14px;
    padding: 10px 28px;
  }
}